*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #272727;
}

main{
    width: 80%;
    height: 70%;
    margin: 0 auto;
    background: #121212ab;
}

.calculator {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.screen span {
    font-size: 100px;
}

.screen {
    border: 2px solid lightgray;
    background-color: #101010;
    display: flex;
    height: 20vh;
    justify-content: flex-end;
    align-items:  flex-end;
}

#cal {
    padding: 10px 20px;
    color: #f9f9f9;
}

.touches {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.touches div {
    user-select: none;
    font-size: 50px;
}

.touches div:hover {
    background-color: #00000056;
}

.touches div:active {
    background-color: #000000a5;
}

.touches > * {
    border: 2px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9f9f9;
}

div[data-key = 'AC']{
    grid-column: 1/4;
}

div[data-key = '0'] {
    grid-column: 1/3;
}